{%extends 'all-news/base.html'%}
{% load bootstrap3 %}

{% block content %}
{{block.super}}

<div class="container">

    <!-- Looping through news   -->
    {% for news_item in news %}
  
    <div class="row">
      <!-- displaying News articles -->
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="align-items: center;">
        <h2 class="text-center"> <b> Title: {{ news_item.title }} </b> </h2>
        <h3 class="text-center"> {{ news_item.post }} </h3>
        <h2 class="text-center">  <b> Editor: {{ news_item.editor}} </b> </h2>
        <h2 class="text-center">  <b> Date: {{ news_item.pub_date}} </b> </h2>
      </div>
      <!--Display news Article images  -->
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <img src="{{news_item.article_image.url}}" class="img-responsive" alt="Image" style="border-radius: 25px;">
      </div>
  
    </div>
  
    {% empty %}
    <div class="row">
      <h2 class="text-center">There No News Items</h2>
    </div>
    {% endfor %}

    <!-- Looping through news end   -->
<div class="container-fluid" style="margin-top: 25px;">

  <form  action="{%url 'newsToday'%}" method="post">
    {%csrf_token%}

    {% bootstrap_form letterForm layout='inline' %}
    <input type="submit" value="Subscribe">
  </form>
</div>
</div>
    
{% endblock %}